   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CodeBay</h5>
                <p class="grey-text text-lighten-4">A Single Destination For Coding Related Tips and solving complex How To's..</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{{p.url}}">All Posts</a></li>
                  <li><a class="grey-text text-lighten-3" href="{{cat.url}}">All Categories</a></li>
<!--                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
<!--                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Copyright  | Made For Educational Purpose by Naman Sharma
            <a class="grey-text text-lighten-4 right" href="https://forms.gle/uR19TXTChAjQ7fKU7">Contact Us</a>
            </div>
          </div>
        </footer>